In [1]:
import pandas as pd

In [3]:
actors = pd.read_csv("Tables/actors.csv")
directors = pd.read_csv('Tables/actors.csv')
movie = pd.read_csv('Tables/Movie_Data.csv')
movie

,movie_id,title,release_date,movie_popularity,vote_average,vote_count,budget,revenue
0,566525,Shang-Chi and the Legend of the Ten Rings,2021-09-01,9559.446,7.9,2917,150000000,430238384
1,370172,No Time to Die,2021-09-29,4639.439,7.6,1804,242000000,708000000
2,580489,Venom: Let There Be Carnage,2021-09-30,4527.568,6.8,1950,110000000,424000000
3,522402,Finch,2021-11-04,3297.503,8.2,929,0,0
4,763164,Apex,2021-11-12,2636.882,5.7,144,0,0
...,...,...,...,...,...,...,...,...
195,25769,Carriers,2009-09-04,176.148,5.9,867,0,5802422
196,784500,Pretty Guardian Sailor Moon Eternal The Movie ...,2021-02-11,176.132,8.2,90,0,0
197,678580,El mesero,2021-07-15,176.099,8.3,288,0,0
198,893204,Single Mother by Choice,2021-11-02,175.537,7.3,9,0,0
199,572154,Rascal Does Not Dream of a Dreaming Girl,2019-06-15,173.846,8.5,324,0,0

In [19]:
movie['movie_id']

0      566525
1      370172
2      580489
3      522402
4      763164
        ...
195     25769
196    784500
197    678580
198    893204
199    572154
Name: movie_id, Length: 200, dtype: int64