In [1]:
import requests
import pandas as pd
from API_Key import api_key

In [2]:
pages = list(range(1,11))

popular = pd.DataFrame()

In [3]:
for page in pages:
    movieData = pd.DataFrame(requests.get(f'https://api.themoviedb.org/3/movie/popular?api_key={api_key}&language=en-US&page={page}').json()['results'])
    popular = popular.append(movieData)

popular.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/cinER0ESG0eJ49kXlExM0MEWGxW.jpg,"[28, 12, 14]",566525,en,Shang-Chi and the Legend of the Ten Rings,Shang-Chi must confront the past he thought he...,9559.446,/1BIoJGKbXjdFDAqUEiA2VHqkK1Z.jpg,2021-09-01,Shang-Chi and the Legend of the Ten Rings,False,7.9,2917
1,False,/1953j0QEbtN17WFFTnJHIm6bn6I.jpg,"[12, 28, 53]",370172,en,No Time to Die,Bond has left active service and is enjoying a...,4639.439,/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg,2021-09-29,No Time to Die,False,7.6,1804
2,False,/70nxSw3mFBsGmtkvcs91PbjerwD.jpg,"[878, 28, 12]",580489,en,Venom: Let There Be Carnage,After finding a host body in investigative rep...,4527.568,/rjkmN1dniUHVYAtwuV3Tji7FsDO.jpg,2021-09-30,Venom: Let There Be Carnage,False,6.8,1950
3,False,/oE6bhqqVFyIECtBzqIuvh6JdaB5.jpg,"[878, 18, 12]",522402,en,Finch,"On a post-apocalyptic Earth, a robot, built to...",3297.503,/jKuDyqx7jrjiR9cDzB5pxzhJAdv.jpg,2021-11-04,Finch,False,8.2,929
4,False,/4gKxQIW91hOTELjY5lzjMbLoGxB.jpg,"[28, 53, 878]",763164,en,Apex,Ex-cop James Malone is serving a life sentence...,2915.735,/chTkFGToW5bsyw3hgLAe4S5Gt3.jpg,2021-11-12,Apex,False,5.8,129

In [4]:
popular = popular[popular['adult'] == False]
popular_features = popular.drop(['adult', 'backdrop_path', 'id', 'original_title', 'overview', 'poster_path', 'title','video'],1)
popular_features.head()

/var/folders/61/jyjwflp16vv8tst5lfm0g4xr0000gn/T/ipykernel_2389/2839219989.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  popular_features = popular.drop(['adult', 'backdrop_path', 'id', 'original_title', 'overview', 'poster_path', 'title','video'],1)

,genre_ids,original_language,popularity,release_date,vote_average,vote_count
0,"[28, 12, 14]",en,9559.446,2021-09-01,7.9,2917
1,"[12, 28, 53]",en,4639.439,2021-09-29,7.6,1804
2,"[878, 28, 12]",en,4527.568,2021-09-30,6.8,1950
3,"[878, 18, 12]",en,3297.503,2021-11-04,8.2,929
4,"[28, 53, 878]",en,2915.735,2021-11-12,5.8,129

In [5]:
titleNid = popular[['id','title']]

In [6]:
titleNid = titleNid.reset_index(drop = True)

In [7]:
df1 = titleNid[titleNid['title'].str.contains("Avatar")]
df1

       id   title
82  19995  Avatar

In [22]:
titleNid.to_csv('titleNid.csv',index = False)

In [9]:
genre = requests.get(f'https://api.themoviedb.org/3/genre/movie/list?api_key={api_key}&language=en-US').json()['genres']
genre_df = pd.DataFrame(genre)
genre_df

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [10]:
titleNid['id'][0]

566525

In [15]:
requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={api_key}&language=en-US').json()['crew']

[{'adult': False,
  'gender': 1,
  'id': 97023,
  'known_for_department': 'Editing',
  'name': 'Shin Min-kyung',
  'original_name': 'Shin Min-kyung',
  'popularity': 0.6,
  'profile_path': None,
  'credit_id': '6147508eb5bc21008ce7d22f',
  'department': 'Editing',
  'job': 'Editor'},
 {'adult': False,
  'gender': 2,
  'id': 583166,
  'known_for_department': 'Directing',
  'name': 'Kim Ji-hoon',
  'original_name': 'Kim Ji-hoon',
  'popularity': 1.106,
  'profile_path': '/eJr6Bzo45mR8CDCrecjYpJIZObz.jpg',
  'credit_id': '5d53cc936dc6c0647b98881e',
  'department': 'Directing',
  'job': 'Director'},
 {'adult': False,
  'gender': 2,
  'id': 1188109,
  'known_for_department': 'Production',
  'name': 'Lee Soo-nam',
  'original_name': 'Lee Soo-nam',
  'popularity': 0.6,
  'profile_path': None,
  'credit_id': '5d7388db209f180012fc2e96',
  'department': 'Production',
  'job': 'Executive Producer'},
 {'adult': False,
  'gender': 2,
  'id': 1294101,
  'known_for_department': 'Sound',
  'name': 'Lee Sung-jin',
  'original_name': 'Lee Sung-jin',
  'popularity': 0.6,
  'profile_path': None,
  'credit_id': '61474f8a22df2e00656b1ec8',
  'department': 'Sound',
  'job': 'Sound Supervisor'},
 {'adult': False,
  'gender': 0,
  'id': 1294551,
  'known_for_department': 'Costume & Make-Up',
  'name': 'An Ji-hyeon',
  'original_name': 'An Ji-hyeon',
  'popularity': 0.6,
  'profile_path': None,
  'credit_id': '61474f7604863800618a0728',
  'department': 'Costume & Make-Up',
  'job': 'Costume Design'},
 {'adult': False,
  'gender': 2,
  'id': 1299507,
  'known_for_department': 'Sound',
  'name': 'Kim Tae-seong',
  'original_name': 'Kim Tae-seong',
  'popularity': 0.6,
  'profile_path': '/xhgqPP53RXquNeqcZA3CcfhZsn9.jpg',
  'credit_id': '61474f61511d090043e5604f',
  'department': 'Sound',
  'job': 'Original Music Composer'},
 {'adult': False,
  'gender': 2,
  'id': 1442994,
  'known_for_department': 'Writing',
  'name': 'Jeon Cheol-hong',
  'original_name': 'Jeon Cheol-hong',
  'popularity': 0.6,
  'profile_path': None,
  'credit_id': '5d738ad61277780011288e11',
  'department': 'Writing',
  'job': 'Writer'},
 {'adult': False,
  'gender': 0,
  'id': 2405652,
  'known_for_department': 'Production',
  'name': 'Kim Do-yeob',
  'original_name': 'Kim Do-yeob',
  'popularity': 0.6,
  'profile_path': None,
  'credit_id': '5d738afd3a4a120010d1fd38',
  'department': 'Production',
  'job': 'Producer'},
 {'adult': False,
  'gender': 0,
  'id': 3239865,
  'known_for_department': 'Camera',
  'name': 'Shin Tae-ho',
  'original_name': 'Shin Tae-ho',
  'popularity': 0.6,
  'profile_path': None,
  'credit_id': '61474fb1e559370089e6a1eb',
  'department': 'Camera',
  'job': 'Director of Photography'},
 {'adult': False,
  'gender': 0,
  'id': 3239874,
  'known_for_department': 'Art',
  'name': 'Kim Tae-yeong',
  'original_name': 'Kim Tae-yeong',
  'popularity': 0.6,
  'profile_path': None,
  'credit_id': '614750aa048638008c4eebf1',
  'department': 'Art',
  'job': 'Production Design'}]