In [ ]:
# GET ALL Company ID's into Dataframe using Movie ID, Use MOVIEID as INDEX for dataframe.
# Use freddie's code to get list of popular movies, iterate through movie_detail using movie ID, pull out company (studio) names

In [2]:
import requests
import pandas as pd
from API_Key import api_key

In [26]:
pages = list(range(1,11))

popular = pd.DataFrame()

In [29]:
for page in pages:
    movieData = pd.DataFrame(requests.get(f'https://api.themoviedb.org/3/movie/popular?api_key={api_key}&language=en-US&page={page}').json()['results'])
    popular = popular.append(movieData)
popular.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/cinER0ESG0eJ49kXlExM0MEWGxW.jpg,"[28, 12, 14]",566525,en,Shang-Chi and the Legend of the Ten Rings,Shang-Chi must confront the past he thought he...,9559.446,/1BIoJGKbXjdFDAqUEiA2VHqkK1Z.jpg,2021-09-01,Shang-Chi and the Legend of the Ten Rings,False,7.9,2917
1,False,/1953j0QEbtN17WFFTnJHIm6bn6I.jpg,"[12, 28, 53]",370172,en,No Time to Die,Bond has left active service and is enjoying a...,4639.439,/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg,2021-09-29,No Time to Die,False,7.6,1804
2,False,/70nxSw3mFBsGmtkvcs91PbjerwD.jpg,"[878, 28, 12]",580489,en,Venom: Let There Be Carnage,After finding a host body in investigative rep...,4527.568,/rjkmN1dniUHVYAtwuV3Tji7FsDO.jpg,2021-09-30,Venom: Let There Be Carnage,False,6.8,1950
3,False,/oE6bhqqVFyIECtBzqIuvh6JdaB5.jpg,"[878, 18, 12]",522402,en,Finch,"On a post-apocalyptic Earth, a robot, built to...",3297.503,/jKuDyqx7jrjiR9cDzB5pxzhJAdv.jpg,2021-11-04,Finch,False,8.2,929
4,False,/4gKxQIW91hOTELjY5lzjMbLoGxB.jpg,"[28, 53, 878]",763164,en,Apex,Ex-cop James Malone is serving a life sentence...,2915.735,/chTkFGToW5bsyw3hgLAe4S5Gt3.jpg,2021-11-12,Apex,False,5.8,129

In [30]:
# Drop Adult Movies
popular = popular[popular['adult'] == False]
popular

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/cinER0ESG0eJ49kXlExM0MEWGxW.jpg,"[28, 12, 14]",566525,en,Shang-Chi and the Legend of the Ten Rings,Shang-Chi must confront the past he thought he...,9559.446,/1BIoJGKbXjdFDAqUEiA2VHqkK1Z.jpg,2021-09-01,Shang-Chi and the Legend of the Ten Rings,False,7.9,2917
1,False,/1953j0QEbtN17WFFTnJHIm6bn6I.jpg,"[12, 28, 53]",370172,en,No Time to Die,Bond has left active service and is enjoying a...,4639.439,/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg,2021-09-29,No Time to Die,False,7.6,1804
2,False,/70nxSw3mFBsGmtkvcs91PbjerwD.jpg,"[878, 28, 12]",580489,en,Venom: Let There Be Carnage,After finding a host body in investigative rep...,4527.568,/rjkmN1dniUHVYAtwuV3Tji7FsDO.jpg,2021-09-30,Venom: Let There Be Carnage,False,6.8,1950
3,False,/oE6bhqqVFyIECtBzqIuvh6JdaB5.jpg,"[878, 18, 12]",522402,en,Finch,"On a post-apocalyptic Earth, a robot, built to...",3297.503,/jKuDyqx7jrjiR9cDzB5pxzhJAdv.jpg,2021-11-04,Finch,False,8.2,929
4,False,/4gKxQIW91hOTELjY5lzjMbLoGxB.jpg,"[28, 53, 878]",763164,en,Apex,Ex-cop James Malone is serving a life sentence...,2915.735,/chTkFGToW5bsyw3hgLAe4S5Gt3.jpg,2021-11-12,Apex,False,5.8,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,False,/uEWCi9fc89m9qS5SNshlvxkSsLJ.jpg,"[27, 53]",159211,en,The Haunting of Helena,"After a divorce, Sophia moves to the south of ...",158.857,/iB8rf8FYHGlrbmLybCo6Mpg8hNt.jpg,2013-01-14,The Haunting of Helena,False,5.6,115
16,False,/3pIqd1hgZ2xqzWEyiYp4blqE9Fi.jpg,"[53, 36, 18]",522241,en,The Courier,Cold War spy Greville Wynne and his Russian so...,188.142,/zFIjKtZrzhmc7HecdFXXjsLR2Ig.jpg,2021-03-18,The Courier,False,7.2,469
17,False,/m5HPKCi7GdhKmxPTcOQmcLfEmZ9.jpg,"[12, 35, 16, 14]",532067,ja,映画 この素晴らしい世界に祝福を！紅伝説,It is not strange that the Demon Lord's forces...,184.669,/j73LuQcA21KvkVFcroWWMN8tTJv.jpg,2019-08-30,KonoSuba: God's Blessing on this Wonderful Wor...,False,8.5,314
18,False,/j9WjY88LQoeK1YLUM1rSFrSw1Lr.jpg,"[35, 10751, 14]",763873,en,Under Wraps,Three friends try to save their mummified frie...,165.751,/2EnHRyHdboUWz120LDiAk2M2Lgc.jpg,2021-10-01,Under Wraps,False,7.0,42
19,False,/4A6eynbHIRn03F9AugE0hPf8uO9.jpg,"[35, 18]",623135,ko,싱크홀,The average citizen Dong-won and his family mo...,180.932,/alBxLvZ5LkDRJPw4TX1PgkWLE8a.jpg,2021-08-11,Sinkhole,False,7.3,21

In [43]:
# Create DataFrame of movie ID's and titles
titleNid= popular[['id', 'title']]
titleNid

        id                                              title
0   566525          Shang-Chi and the Legend of the Ten Rings
1   370172                                     No Time to Die
2   580489                        Venom: Let There Be Carnage
3   522402                                              Finch
4   763164                                               Apex
..     ...                                                ...
15  159211                             The Haunting of Helena
16  522241                                        The Courier
17  532067  KonoSuba: God's Blessing on this Wonderful Wor...
18  763873                                        Under Wraps
19  623135                                           Sinkhole

[600 rows x 2 columns]

In [53]:
id_list = titleNid['id']

In [56]:
studio = pd.DataFrame()

In [61]:
for id in id_list:
    movieDetail = pd.DataFrame(requests.get(f'https://api.themoviedb.org/3/movie/{id}?api_key={api_key}&language=en-US').json()['production_companies'])
    studio = studio.append(movieDetail)
studio.reset_index(drop=True)

,id,logo_path,name,origin_country
0,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US
1,7576,/oYcUi1byZ312Z3xiz5ojz9RQLND.png,Eon Productions,GB
2,21,/aOWKh4gkNrfFZ3Ep7n0ckPhoGb5.png,Metro-Goldwyn-Mayer,US
3,60,/oJXpAs4I3W46e4dkaOEzCa4yBko.png,United Artists,US
4,33,/8lvHyhjr8oUKOOy2dKXoALWKdp0.png,Universal Pictures,US
...,...,...,...,...
9535,911,None,Roadside Attractions,US
9536,11884,/tHzHPSKdmLT5zCdqFbcmHzZvRIc.png,J.C.Staff,JP
9537,6679,/doO7VwcEUnidNW0iUJkIF2oZ8Yq.png,MarVista Entertainment,US
9538,3491,/6ZtXJZsAJ4sQNM35ts1G3JeXaBQ.png,Showbox,KR
9539,121898,None,The Tower Pictures,KR

In [63]:
studio= studio[['id', 'name']]
studio.reset_index(drop=True)

          id                    name
0        420          Marvel Studios
1       7576         Eon Productions
2         21     Metro-Goldwyn-Mayer
3         60          United Artists
4         33      Universal Pictures
...      ...                     ...
9535     911    Roadside Attractions
9536   11884               J.C.Staff
9537    6679  MarVista Entertainment
9538    3491                 Showbox
9539  121898      The Tower Pictures

[9540 rows x 2 columns]