In [9]:
import pandas as pd
import psycopg2
from postgres_data import host
from postgres_data import password
from postgres_data import user
from sqlalchemy import create_engine

In [10]:
# Create an engine instance

alchemyEngine = create_engine(f'postgresql://{user}:{password}@{host}:5432/Movie_Data')

In [11]:
# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect()

# Read data from PostgreSQL database table and load into a DataFrame instance
df = pd.read_sql("select * from meta", dbConnection)
dbConnection.close()
df.head()

,movie_id,title,release_date,movie_popularity,vote_average,vote_count,budget,revenue,ratings,actor_name,...,actor_gender,character,actor_popularity,director_name,director_id,director_gender,director_popularity,studio_id,studio_name,origin_country
0,671,Harry Potter and the Philosopher's Stone,2001-11-16,305.856,7.9,21398,125000000,976475550,PG,Emma Watson,...,1.0,Hermione Granger,16.930,Chris Columbus,10965.0,2.0,2.589,436.0,1492 Pictures,US
1,671,Harry Potter and the Philosopher's Stone,2001-11-16,305.856,7.9,21398,125000000,976475550,PG,Emma Watson,...,1.0,Hermione Granger,16.930,Chris Columbus,10965.0,2.0,2.589,174.0,Warner Bros. Pictures,US
2,671,Harry Potter and the Philosopher's Stone,2001-11-16,305.856,7.9,21398,125000000,976475550,PG,Tom Felton,...,2.0,Draco Malfoy,10.918,Chris Columbus,10965.0,2.0,2.589,436.0,1492 Pictures,US
3,671,Harry Potter and the Philosopher's Stone,2001-11-16,305.856,7.9,21398,125000000,976475550,PG,Tom Felton,...,2.0,Draco Malfoy,10.918,Chris Columbus,10965.0,2.0,2.589,437.0,Heyday Films,GB
4,671,Harry Potter and the Philosopher's Stone,2001-11-16,305.856,7.9,21398,125000000,976475550,PG,Tom Felton,...,2.0,Draco Malfoy,10.918,Chris Columbus,10965.0,2.0,2.589,174.0,Warner Bros. Pictures,US