In [1]:
import pandas as pd
import datetime

In [2]:
actors = pd.read_csv('../Tables/Actors.csv')
directors = pd.read_csv('../Tables/Directors.csv')
genres = pd.read_csv('../Tables/Genres.csv')
movies = pd.read_csv('../Tables/Movie_Data.csv')
studios = pd.read_csv('../Tables/Studios.csv')
titles = pd.read_csv('../Tables/titleNid.csv')

In [3]:
actors.count()

name                4082
actor_id            4082
gender              4082
character           4069
actor_popularity    4082
movie_id            4082
dtype: int64

In [4]:
actor_mean = actors.groupby('movie_id', sort = False).mean()
actor_mean = actor_mean[['actor_popularity']]
actor_mean

          actor_popularity
movie_id
566525            7.679474
370172            4.546782
580489            4.101774
524434            4.835054
438631            5.563026
...                    ...
615457            2.135095
293660            4.727943
198663            2.072167
271110            3.516097
10138             2.560921

[77 rows x 1 columns]

In [5]:
director_mean = directors.groupby('movie_id', sort = False).mean()
director_mean = director_mean[['director_popularity']]
director_mean

          director_popularity
movie_id
566525                  4.245
370172                  7.496
580489                  8.680
524434                  2.038
438631                  8.809
...                       ...
615457                  1.400
293660                  1.943
198663                  3.269
271110                  3.336
10138                   8.665

[77 rows x 1 columns]

In [6]:
count = studios.studio_name.value_counts()
replace = list(count[count <= 3].index)
replace
for studio in replace:
    studios.studio_name = studios.studio_name.replace(studio, "Other")
studios.studio_name.value_counts()

Other                       219
Sony Pictures                13
Warner Bros. Pictures        13
Columbia Pictures            12
Marvel Studios               11
Universal Pictures            8
Marvel Entertainment          8
Heyday Films                  8
Walt Disney Pictures          6
Pascal Pictures               5
Laura Ziskin Productions      4
Name: studio_name, dtype: int64

In [7]:
studios

     studio_id         studio_name origin_country  movie_id
0        420.0      Marvel Studios             US    566525
1       7576.0               Other             GB    370172
2         21.0               Other             US    370172
3         60.0               Other             US    370172
4         33.0  Universal Pictures             US    370172
..         ...                 ...            ...       ...
302    12292.0               Other             US    198663
303    22213.0               Other             US    198663
304       25.0               Other             US    198663
305      420.0      Marvel Studios             US    271110
306      420.0      Marvel Studios             US     10138

[307 rows x 4 columns]

In [8]:
grouped_df = studios.groupby('movie_id',sort = False)
grouped_lists = grouped_df['studio_name'].agg(lambda column: ", ".join(column))
grouped_lists = grouped_lists.reset_index(name='studio_name')
grouped_lists

    movie_id                                        studio_name
0     566525                                     Marvel Studios
1     370172            Other, Other, Other, Universal Pictures
2     580489  Marvel Entertainment, Pascal Pictures, Columbi...
3     524434                                     Marvel Studios
4     438631                                              Other
..       ...                                                ...
72    615457     Universal Pictures, Other, Other, Other, Other
73    293660   Other, Marvel Entertainment, Other, Other, Other
74    198663           Other, Other, Other, Other, Other, Other
75    271110                                     Marvel Studios
76     10138                                     Marvel Studios

[77 rows x 2 columns]

In [9]:
holder = []
for names in grouped_lists['studio_name']:
    holder.append(names.split(","))
# movies['studio_list'] = holder
# movies
grouped_lists['studio_list'] = holder
grouped_lists = grouped_lists.drop('studio_name', 1)

/var/folders/61/jyjwflp16vv8tst5lfm0g4xr0000gn/T/ipykernel_9327/3084318855.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  grouped_lists = grouped_lists.drop('studio_name', 1)

In [10]:
movies['studios'] = grouped_lists['studio_list']
movies['release_date'] = pd.to_datetime(movies['release_date'], format= '%Y-%m-%dT')
movies.dtypes

movie_id                     int64
title                       object
genre_ids                   object
release_date        datetime64[ns]
movie_popularity           float64
vote_average               float64
vote_count                   int64
budget                       int64
revenue                      int64
rating                      object
studios                     object
dtype: object

In [11]:
genres.set_index(genres['id'],inplace = True)
genres = genres.drop('id',1)
genres

/var/folders/61/jyjwflp16vv8tst5lfm0g4xr0000gn/T/ipykernel_9327/65170182.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  genres = genres.drop('id',1)

                  name
id
28              Action
12           Adventure
16           Animation
35              Comedy
80               Crime
99         Documentary
18               Drama
10751           Family
14             Fantasy
36             History
27              Horror
10402            Music
9648           Mystery
10749          Romance
878    Science Fiction
10770         TV Movie
53            Thriller
10752              War
37             Western

In [12]:
genres.loc[28]['name']

'Action'

In [13]:
genre_title = []

for ls in movies.genre_ids:
    holder = []
    for id in eval(ls):
        holder.append(genres.loc[id]['name'])
    genre_title.append(holder)
genre_title

[['Action', 'Adventure', 'Fantasy'],
 ['Science Fiction', 'Action', 'Adventure'],
 ['Adventure', 'Action', 'Thriller'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Romance', 'Drama'],
 ['Science Fiction', 'Adventure'],
 ['Comedy', 'Action', 'Adventure', 'Science Fiction'],
 ['Action', 'Adventure', 'Fantasy'],
 ['Science Fiction', 'Action'],
 ['Action', 'Adventure'],
 ['Action', 'Thriller', 'Crime'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Animation', 'Comedy', 'Adventure', 'Family'],
 ['Animation', 'Comedy', 'Family', 'Fantasy'],
 ['Adventure', 'Fantasy', 'Comedy', 'Action'],
 ['Animation', 'Action', 'Adventure', 'Fantasy'],
 ['Action', 'Adventure', 'Science Fiction', 'Drama'],
 ['Action', 'Adventure', 'Fantasy'],
 ['Horror', 'Thriller'],
 ['Action', 'Crime', 'Thriller'],
 ['Action', 'Adventure', 'Fantasy'],
 ['Fantasy', 'Action'],
 ['Comedy', 'Fantasy'],
 ['Fantasy', 'Action', 'Adventure'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Animation', 'Family', 'Comedy', 'Science Fiction'],
 ['Comedy', 'Crime'],
 ['Action', 'Fantasy', 'Adventure'],
 ['Animation', 'Family', 'Adventure', 'Fantasy', 'Comedy'],
 ['Action', 'Crime', 'Thriller'],
 ['Adventure', 'Action', 'Science Fiction'],
 ['Action', 'Fantasy', 'Science Fiction'],
 ['Thriller', 'Horror'],
 ['Action', 'Adventure', 'Fantasy', 'Science Fiction'],
 ['Action', 'Adventure', 'Fantasy'],
 ['Action', 'Adventure', 'Fantasy', 'Science Fiction'],
 ['Science Fiction', 'Thriller', 'Horror'],
 ['Thriller', 'Horror'],
 ['Action', 'Adventure', 'Animation', 'Science Fiction', 'Comedy'],
 ['Family', 'Fantasy', 'Animation', 'Action', 'Adventure'],
 ['Adventure', 'Fantasy'],
 ['Horror', 'Mystery', 'Thriller'],
 ['Action', 'Mystery', 'Science Fiction', 'Thriller'],
 ['Horror', 'Action', 'Thriller'],
 ['Family', 'Animation', 'Fantasy', 'Music', 'Comedy', 'Adventure'],
 ['Horror'],
 ['Horror', 'Mystery', 'Thriller'],
 ['Adventure', 'Fantasy'],
 ['Action', 'Adventure', 'Fantasy'],
 ['Adventure', 'Science Fiction', 'Action'],
 ['Adventure', 'Fantasy'],
 ['Action', 'Fantasy', 'Adventure'],
 ['Adventure', 'Fantasy', 'Family'],
 ['Science Fiction', 'Action', 'Adventure'],
 ['Horror', 'Mystery', 'Thriller'],
 ['Comedy', 'Family', 'Animation'],
 ['Action', 'Romance', 'Animation'],
 ['Action', 'Thriller', 'Crime'],
 ['Fantasy', 'Action'],
 ['Animation', 'Comedy', 'Fantasy', 'Family'],
 ['Adventure', 'Fantasy'],
 ['Animation', 'Adventure', 'Family', 'Western'],
 ['Adventure', 'Fantasy'],
 ['Fantasy', 'Adventure'],
 ['Family', 'Animation', 'Fantasy', 'Adventure', 'Comedy'],
 ['Drama', 'History', 'War'],
 ['Adventure', 'Fantasy', 'Mystery'],
 ['Animation', 'Action', 'Adventure', 'Fantasy'],
 ['Family', 'Comedy', 'Adventure', 'Animation', 'Fantasy'],
 ['Action', 'Animation', 'Science Fiction'],
 ['Action', 'Crime', 'Thriller'],
 ['Action', 'Adventure', 'Fantasy'],
 ['Action', 'Thriller', 'Crime'],
 ['Adventure', 'Action', 'Science Fiction'],
 ['Action', 'Mystery', 'Science Fiction', 'Thriller'],
 ['Adventure', 'Fantasy']]

In [14]:
movies['genres'] = genre_title
movies = movies.drop('genre_ids',1)

/var/folders/61/jyjwflp16vv8tst5lfm0g4xr0000gn/T/ipykernel_9327/2575431064.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  movies = movies.drop('genre_ids',1)

In [15]:
movies.head()

,movie_id,title,release_date,movie_popularity,vote_average,vote_count,budget,revenue,rating,studios,genres
0,566525,Shang-Chi and the Legend of the Ten Rings,2021-09-01,8300.401,7.9,3282,150000000,430238384,PG-13,[Marvel Studios],"[Action, Adventure, Fantasy]"
1,580489,Venom: Let There Be Carnage,2021-09-30,4813.214,6.8,2028,110000000,442000000,PG-13,"[Other, Other, Other, Universal Pictures]","[Science Fiction, Action, Adventure]"
2,370172,No Time to Die,2021-09-29,4467.007,7.6,1984,242000000,708000000,PG-13,"[Marvel Entertainment, Pascal Pictures, Colu...","[Adventure, Action, Thriller]"
3,524434,Eternals,2021-11-03,2123.924,7.1,1110,200000000,335000000,PG-13,[Marvel Studios],"[Action, Adventure, Science Fiction]"
4,744275,After We Fell,2021-09-01,1637.706,7.2,903,14000000,19000000,R,[Other],"[Romance, Drama]"

In [21]:
ml_table = movies[['movie_id','release_date','movie_popularity', 'vote_average', 'vote_count','budget','revenue', 'rating', 'genres','studios']]
ml_table = ml_table.merge(actor_mean,on='movie_id', how = 'inner')
ml_table = ml_table.merge(director_mean,on='movie_id', how = 'inner')
ml_table = ml_table.drop('movie_id',1)
ml_table

/var/folders/61/jyjwflp16vv8tst5lfm0g4xr0000gn/T/ipykernel_9327/1964443998.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  ml_table = ml_table.drop('movie_id',1)

,release_date,movie_popularity,vote_average,vote_count,budget,revenue,rating,genres,studios,actor_popularity,director_popularity
0,2021-09-01,8300.401,7.9,3282,150000000,430238384,PG-13,"[Action, Adventure, Fantasy]",[Marvel Studios],7.679474,4.2450
1,2021-09-30,4813.214,6.8,2028,110000000,442000000,PG-13,"[Science Fiction, Action, Adventure]","[Other, Other, Other, Universal Pictures]",4.101774,8.6800
2,2021-09-29,4467.007,7.6,1984,242000000,708000000,PG-13,"[Adventure, Action, Thriller]","[Marvel Entertainment, Pascal Pictures, Colu...",4.546782,7.4960
3,2021-11-03,2123.924,7.1,1110,200000000,335000000,PG-13,"[Action, Adventure, Science Fiction]",[Marvel Studios],4.835054,2.0380
4,2021-09-01,1637.706,7.2,903,14000000,19000000,R,"[Romance, Drama]",[Other],4.432857,2.4440
...,...,...,...,...,...,...,...,...,...,...,...
69,2021-03-18,196.628,8.3,3676,17000000,61779301,R,"[Action, Crime, Thriller]","[Warner Bros. Pictures, Heyday Films]",2.135095,1.4000
70,2004-06-25,239.838,7.1,11607,200000000,783766341,PG-13,"[Action, Adventure, Fantasy]","[Other, Other, Other]",2.701348,2.8130
71,2009-04-16,215.596,6.0,2130,20000000,34560577,R,"[Action, Thriller, Crime]","[Universal Pictures, Other, Other, Other, ...",1.920021,1.7865
72,2016-04-27,182.305,7.4,18869,250000000,1153296293,PG-13,"[Adventure, Action, Science Fiction]","[Other, Marvel Entertainment, Other, Other,...",3.516097,3.3360
73,2014-09-10,193.562,7.2,14023,34000000,348319861,PG-13,"[Action, Mystery, Science Fiction, Thriller]","[Other, Other, Other, Other, Other, Other]",2.072167,3.2690

In [ ]:
ml_table.to_csv('')