In [1]:
import pandas as pd

In [2]:
actors = pd.read_csv('../Tables/Actors.csv')
directors = pd.read_csv('../Tables/Directors.csv')
genres = pd.read_csv('../Tables/Genres.csv')
movies = pd.read_csv('../Tables/Movie_Data.csv')
studios = pd.read_csv('../Tables/Studios.csv')
titles = pd.read_csv('../Tables/titleNid.csv')

In [3]:
actors.count()

name                4082
actor_id            4082
gender              4082
character           4069
actor_popularity    4082
movie_id            4082
dtype: int64

In [4]:
actor_mean = actors.groupby('movie_id', sort = False).mean()
actor_mean = actor_mean[['actor_popularity']]
actor_mean

          actor_popularity
movie_id
566525            7.679474
370172            4.546782
580489            4.101774
524434            4.835054
438631            5.563026
...                    ...
615457            2.135095
293660            4.727943
198663            2.072167
271110            3.516097
10138             2.560921

[77 rows x 1 columns]

In [5]:
director_mean = directors.groupby('movie_id', sort = False).mean()
director_mean = director_mean[['director_popularity']]
director_mean

          director_popularity
movie_id
566525                  4.245
370172                  7.496
580489                  8.680
524434                  2.038
438631                  8.809
...                       ...
615457                  1.400
293660                  1.943
198663                  3.269
271110                  3.336
10138                   8.665

[77 rows x 1 columns]

In [6]:
count = studios.studio_name.value_counts()
replace = list(count[count <= 3].index)
replace
for studio in replace:
    studios.studio_name = studios.studio_name.replace(studio, "Other")
studios.studio_name.value_counts()

Other                       219
Sony Pictures                13
Warner Bros. Pictures        13
Columbia Pictures            12
Marvel Studios               11
Universal Pictures            8
Marvel Entertainment          8
Heyday Films                  8
Walt Disney Pictures          6
Pascal Pictures               5
Laura Ziskin Productions      4
Name: studio_name, dtype: int64

In [7]:
studios

     studio_id         studio_name origin_country  movie_id
0        420.0      Marvel Studios             US    566525
1       7576.0               Other             GB    370172
2         21.0               Other             US    370172
3         60.0               Other             US    370172
4         33.0  Universal Pictures             US    370172
..         ...                 ...            ...       ...
302    12292.0               Other             US    198663
303    22213.0               Other             US    198663
304       25.0               Other             US    198663
305      420.0      Marvel Studios             US    271110
306      420.0      Marvel Studios             US     10138

[307 rows x 4 columns]

In [8]:
grouped_df = studios.groupby('movie_id',sort = False)
grouped_lists = grouped_df['studio_name'].agg(lambda column: ", ".join(column))
grouped_lists = grouped_lists.reset_index(name='studio_name')
grouped_lists.count()

movie_id       77
studio_name    77
dtype: int64

In [92]:
genres.set_index(genres['id'],inplace = True)
genres = genres.drop('id',1)
genres

TypeError: 'Series' object is not callable

In [83]:
clean_list = []
for genre in movies['genre_ids']:
    genre = genre.replace(',','')
    genre = genre.replace('[','')
    genre = genre.replace(']','')
    clean_list.append(genre)
clean_list

['28 12 14',
 '878 28 12',
 '12 28 53',
 '28 12 878',
 '10749 18',
 '878 12',
 '35 28 12 878',
 '28 12 14',
 '878 28',
 '28 12',
 '28 53 80',
 '28 12 878',
 '16 35 12 10751',
 '16 35 10751 14',
 '12 14 35 28',
 '16 28 12 14',
 '28 12 878 18',
 '28 12 14',
 '27 53',
 '28 80 53',
 '28 12 14',
 '14 28',
 '35 14',
 '14 28 12',
 '28 12 878',
 '16 10751 35 878',
 '35 80',
 '28 14 12',
 '16 10751 12 14 35',
 '28 80 53',
 '12 28 878',
 '28 14 878',
 '53 27',
 '28 12 14 878',
 '28 12 14',
 '28 12 14 878',
 '878 53 27',
 '53 27',
 '28 12 16 878 35',
 '10751 14 16 28 12',
 '12 14',
 '27 9648 53',
 '28 9648 878 53',
 '27 28 53',
 '10751 16 14 10402 35 12',
 '27',
 '27 9648 53',
 '12 14',
 '28 12 14',
 '12 878 28',
 '12 14',
 '28 14 12',
 '12 14 10751',
 '878 28 12',
 '27 9648 53',
 '35 10751 16',
 '28 10749 16',
 '28 53 80',
 '14 28',
 '16 35 14 10751',
 '12 14',
 '16 12 10751 37',
 '12 14',
 '14 12',
 '10751 16 14 12 35',
 '18 36 10752',
 '12 14 9648',
 '16 28 12 14',
 '10751 35 12 16 14',
 '28 16 878',
 '28 80 53',
 '28 12 14',
 '28 53 80',
 '12 28 878',
 '28 9648 878 53',
 '12 14']

In [86]:
array = []
for lst in clean_list:
    array.append(lst.split(' '))
array

[['28', '12', '14'],
 ['878', '28', '12'],
 ['12', '28', '53'],
 ['28', '12', '878'],
 ['10749', '18'],
 ['878', '12'],
 ['35', '28', '12', '878'],
 ['28', '12', '14'],
 ['878', '28'],
 ['28', '12'],
 ['28', '53', '80'],
 ['28', '12', '878'],
 ['16', '35', '12', '10751'],
 ['16', '35', '10751', '14'],
 ['12', '14', '35', '28'],
 ['16', '28', '12', '14'],
 ['28', '12', '878', '18'],
 ['28', '12', '14'],
 ['27', '53'],
 ['28', '80', '53'],
 ['28', '12', '14'],
 ['14', '28'],
 ['35', '14'],
 ['14', '28', '12'],
 ['28', '12', '878'],
 ['16', '10751', '35', '878'],
 ['35', '80'],
 ['28', '14', '12'],
 ['16', '10751', '12', '14', '35'],
 ['28', '80', '53'],
 ['12', '28', '878'],
 ['28', '14', '878'],
 ['53', '27'],
 ['28', '12', '14', '878'],
 ['28', '12', '14'],
 ['28', '12', '14', '878'],
 ['878', '53', '27'],
 ['53', '27'],
 ['28', '12', '16', '878', '35'],
 ['10751', '14', '16', '28', '12'],
 ['12', '14'],
 ['27', '9648', '53'],
 ['28', '9648', '878', '53'],
 ['27', '28', '53'],
 ['10751', '16', '14', '10402', '35', '12'],
 ['27'],
 ['27', '9648', '53'],
 ['12', '14'],
 ['28', '12', '14'],
 ['12', '878', '28'],
 ['12', '14'],
 ['28', '14', '12'],
 ['12', '14', '10751'],
 ['878', '28', '12'],
 ['27', '9648', '53'],
 ['35', '10751', '16'],
 ['28', '10749', '16'],
 ['28', '53', '80'],
 ['14', '28'],
 ['16', '35', '14', '10751'],
 ['12', '14'],
 ['16', '12', '10751', '37'],
 ['12', '14'],
 ['14', '12'],
 ['10751', '16', '14', '12', '35'],
 ['18', '36', '10752'],
 ['12', '14', '9648'],
 ['16', '28', '12', '14'],
 ['10751', '35', '12', '16', '14'],
 ['28', '16', '878'],
 ['28', '80', '53'],
 ['28', '12', '14'],
 ['28', '53', '80'],
 ['12', '28', '878'],
 ['28', '9648', '878', '53'],
 ['12', '14']]

In [112]:
for lst in array[0]:
    int(num)

In [114]:
movies['num_genre_id'] = array
movies

,movie_id,title,genre_ids,release_date,movie_popularity,vote_average,vote_count,budget,revenue,rating,num_genre_id
0,566525,Shang-Chi and the Legend of the Ten Rings,"[28, 12, 14]",2021-09-01,8300.401,7.9,3282,150000000,430238384,PG-13,"[28, 12, 14]"
1,580489,Venom: Let There Be Carnage,"[878, 28, 12]",2021-09-30,4813.214,6.8,2028,110000000,442000000,PG-13,"[878, 28, 12]"
2,370172,No Time to Die,"[12, 28, 53]",2021-09-29,4467.007,7.6,1984,242000000,708000000,PG-13,"[12, 28, 53]"
3,524434,Eternals,"[28, 12, 878]",2021-11-03,2123.924,7.1,1110,200000000,335000000,PG-13,"[28, 12, 878]"
4,744275,After We Fell,"[10749, 18]",2021-09-01,1637.706,7.2,903,14000000,19000000,R,"[10749, 18]"
...,...,...,...,...,...,...,...,...,...,...,...
71,558,Spider-Man 2,"[28, 12, 14]",2004-06-25,239.838,7.1,11607,200000000,783766341,PG-13,"[28, 12, 14]"
72,15092,Crank: High Voltage,"[28, 53, 80]",2009-04-16,215.596,6.0,2130,20000000,34560577,R,"[28, 53, 80]"
73,271110,Captain America: Civil War,"[12, 28, 878]",2016-04-27,182.305,7.4,18869,250000000,1153296293,PG-13,"[12, 28, 878]"
74,198663,The Maze Runner,"[28, 9648, 878, 53]",2014-09-10,193.562,7.2,14023,34000000,348319861,PG-13,"[28, 9648, 878, 53]"
75,337401,Mulan,"[12, 14]",2020-09-04,205.615,7.0,5261,200000000,66800000,PG-13,"[12, 14]"

In [119]:
for genre in movies['num_genre_id']:
    i = 0
    while i< len(genre):
        genre.map(genre[i], genres)
        i+=1

AttributeError: 'list' object has no attribute 'map'

In [15]:
df.actor_gender[df.actor_gender == 2] = 'male'
df.actor_gender[df.actor_gender == 1] = 'female'

,movie_id,title,genre_ids,release_date,movie_popularity,vote_average,vote_count,budget,revenue,rating
0,566525,Shang-Chi and the Legend of the Ten Rings,"[28, 12, 14]",2021-09-01,8300.401,7.9,3282,150000000,430238384,PG-13
1,580489,Venom: Let There Be Carnage,"[878, 28, 12]",2021-09-30,4813.214,6.8,2028,110000000,442000000,PG-13
2,370172,No Time to Die,"[12, 28, 53]",2021-09-29,4467.007,7.6,1984,242000000,708000000,PG-13
3,524434,Eternals,"[28, 12, 878]",2021-11-03,2123.924,7.1,1110,200000000,335000000,PG-13
4,744275,After We Fell,"[10749, 18]",2021-09-01,1637.706,7.2,903,14000000,19000000,R
...,...,...,...,...,...,...,...,...,...,...
71,558,Spider-Man 2,"[28, 12, 14]",2004-06-25,239.838,7.1,11607,200000000,783766341,PG-13
72,15092,Crank: High Voltage,"[28, 53, 80]",2009-04-16,215.596,6.0,2130,20000000,34560577,R
73,271110,Captain America: Civil War,"[12, 28, 878]",2016-04-27,182.305,7.4,18869,250000000,1153296293,PG-13
74,198663,The Maze Runner,"[28, 9648, 878, 53]",2014-09-10,193.562,7.2,14023,34000000,348319861,PG-13
75,337401,Mulan,"[12, 14]",2020-09-04,205.615,7.0,5261,200000000,66800000,PG-13